{% extends 'base2.html'%}

    
{% block content %}

{% load widget_tweaks %}

<div class ="container">
    <h1> Encomende a sua Pizza <h1>
        <p></p>
        <p></p>
        <p></p>

    <h2> {{ note }} </h2>
        {% if  created_pizza_pk%}

            <a href="{% url 'edit_order' created_pizza_pk %}">
            Edite a sua encomenda </a>
        {% endif %}


    <form  action="{% url 'order' %}" method="post"  >{% csrf_token %}
        
        {% for field in pizzaform %}

            <div class="form-group">
            {{field.erros}}
            {{field.label_tag}}
            {% render_field field class="form-control" %}
            </div>
        {% endfor %}
            <input class="btn btn-success btn-sm" type="submit" value="Encomendar Pizza">

    </form>

  

    <h5> Deseja mais que uma Pizza? </h5>

    <form action="{% url 'pizzas'%}" method="get">
        {{multiple_form}}
        <input type="submit" value="Get Pizzas">
    </form>
</div>
{% endblock %}