{% extends 'base.html'%}

    
{% block content %}

<h1> Encomende a sua Pizza <h1>
<p></p>
<p></p>
<p></p>

<section>
    <p></p>
    <p></p>
    <p></p>
</section>
    <section>
    <form>
        
    <h6>
    
        <section>
            <label for="topping1"> Topping 1: </label>
                <input id="topping1" typer="text" name="topping1">
        </section>
        <section>
            <label for="topping2"> Topping 2: </label>
                <input id="topping2" typer="text" name="topping2">
        </section>
        <section>
            <label for="topping3"> Topping 3: </label>
                <input id="topping3" typer="text" name="topping3">
        </section>
        <section>
            <label for="topping4"> Topping 4: </label>
                <input id="topping5" typer="text" name="topping4">
        </section>
        <section>
            <label for="size"> Size: </label>
                <select id="size" name="size" >
                <option value="Pequena">Pequena</option>
                <option value="Media">Media</option>
                <option value="Grande">Grande</option>
                <option value="Familiar">Familiar</option>
            </select>
        </section>
    

    </h6>


    </form>

    </section>  


{% endblock %}