{% extends 'base2.html'%}

{% block content%}

{% load widget_tweaks%}

<div class ="container">
    <h1>
        Oder Pizzas 
    </h1>

    <h2>
        {{note}}
    </h2>
        <form action={% url 'pizzas'%} method ="post"> {% csrf_token %}
        
        {{formset.management_form}}

        {%for form in formset%}
            {% for field in form%}
                <div class="form-group">
                    {{field.erros}}
                    {{field.label_tag}}
                    {% render_field field class="form-control"%}
                </div>
            {% endfor%}
        {% endfor %}

    <input type="submit" value="Encomende a sua Pizza">
    </form>
</div>
{% endblock%}